<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <H1>Rock/Paper/Scissors Game!</H1>
    <H2>Enter player1 try followed by player 2 try in the following format</H2>
    <H3><div id="instruction">http://localhost:4567/rpsgame/rock/paper</div></H3>
    <nav>
      <ul>
        <li>
          <a href="/"> home </a>
        </li>
        <li>
          <a href="/rules"> rules </a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
